@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

/*---- TELAS DE CADASTRO E LOGIN INICIO -------*/
.fundo-degrade{
	background: rgb(6,96,113);
	background: linear-gradient(180deg, rgba(6,96,113,1) 0%, rgba(40,156,180,1) 61%, rgba(109,223,246,1) 100%) repeat-x;
	height: auto;
	min-height: 100vh;
}
.formulario{
    max-width: 350px;
	margin: 0 auto;
	margin-top: 90px;
}
.formulario .user{
    margin: 0 auto;
	display: inherit;
	margin-bottom: 25px;
}
.formulario .label-icon{
	color: #ffffff;
	font-weight: 500;
	width: 12%;
	margin-bottom: 0;
	float: left;
	background-color: #343a40;
	min-height: 38px;
	text-align: center;
	border-radius:.30rem  0rem 0rem .30rem;
}
.formulario .icon-form {
    margin: 0 auto;
	display: block;
}
.formulario .icon-form img,
.formulario .icon-form i
{
	padding: 9px 0px 9px 0;
	
}
.formulario .icon-form i{
	color:#9fa1a3;
	font-size: 19px;
}
.formulario label{
	color: #ffffff;
}
.formulario label > a{
	color: #343a40;
}
.formulario .control{
	display: block;
    width: 88%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem .30rem .30rem 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.formulario .check-left{
	margin-left: 8px;
}
.formulario .btn-login{
	display: block;
	margin: 35px auto 0;
	width: 40%;
}
.cadastro{
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	text-align: center;
	margin-top: 40px;
}
.cadastro p{
	color: #ffffff;
}
.cadastro p > a{
	color: #343a40;
}
/*---- TELAS DE CADASTRO E LOGIN FIM -------*/
/*---- TELAS CLIENTES INICIO  -------*/
.listagem{
	margin-top: 50px;
}
.formuario-pesquisa{
	width: 100%;
    border: 2px solid #ced4da;
    border-radius: .30rem ;
	padding: .65rem .75rem;
}
.formuario-pesquisa input[type=text]{
	background: 0 0;
    border: 0;
    outline: 0;
    font-size: 17px;
    width: 90%;
    margin-right: 5px;
	color: #495057;
    padding: 0 5px;
}
.formuario-pesquisa .btn-pesquisa{
    float: right;
	padding: 0;
	background-color: transparent;
}
.img-circle{
	height: 32px;
	width: 32px;
	border-radius: 50%;
}
.checkbox {

    vertical-align: middle;
    display: inline-block;

	margin-left: 20px;
	
}
.checkbox .custom-control-label::after{
	border: 1px solid #cccccc;
	border-radius: 3px;
}